<div class="selection-section">
  <div class="section-intro">
A raça define a origem física e cultural do personagem, influenciando sua aparência, habilidades naturais e forma de interagir com o mundo. Cada raça traz características únicas, como visão no escuro, resistência a magias ou afinidade com certos idiomas ou tradições. Além das vantagens mecânicas, a raça também ajuda a construir a identidade do personagem, moldando sua relação com outras pessoas e com o cenário da campanha.
  </div>
  <select id="species-select" name="species-select" aria-label="Selecione sua Raça">
    <option value="" disabled selected>Selecione sua Raça:</option>
    <!-- opções aqui -->
  </select>

  <div class="section-details">

    <div class="details-info">
      <div class="details-title">
        Nome da Raça
      </div>
      <div class="details-description">
        Descrição
      </div>
      <div class="details-traits">
        Traits
      </div>
      <div id="subrace-container" style="display: none;">
        <select id="subrace-select"></select>
      </div>
      <div class="subrace-description"></div>
      <div class="subrace-traits"></div>

    </div>
  </div>
</div>
