<div class="selection-section">
  <div class="section-intro">
    A Classe determina as habilidades básicas, talentos e estilo de combate do seu personagem. Ela representa sua
    vocação, definindo como ele enfrenta desafios, quais poderes pode usar e como evolui ao longo da aventura. Escolher
    uma Classe é escolher um caminho, que molda as capacidades e o papel do personagem dentro do grupo, desde o poderoso
    guerreiro na linha de frente até o astuto mago que manipula as forças arcanas.
  </div>
  <select id="class-select" name="class-select" aria-label="Selecione sua Classe">
    <option value="" disabled selected>Selecione sua Classe</option>
    <!-- opções aqui -->
  </select>

  <div class="section-details">

    <div class="details-info">
      <div class="details-title class-name">
        Nome da Classe
      </div>
      <div class="details-description class-description">
        <!-- Descrição -->
      </div>

      <div class="details-title hit-dice">
        Dados de vida
      </div>
      <div class="details-description hit-dice-description">
        <!-- Descrição -->
      </div>

      <div class="details-title primary-ability">
        Atributo Primário
      </div>
      <div class="details-description primary-ability-description">
        <!-- Descrição -->
      </div>

      <div class="details-title">
        Proficiências
      </div>
      <div class="details-description proficiencies-description">
        <!-- Descrição -->
      </div>

      <div class="details-title">
        Equipamentos Iniciais
      </div>
      <div class="details-description equipment-options">
        <!-- Os selects de equipamento serão inseridos aqui -->
      </div>
    </div>
  </div>
</div>