<div class="selection-section">
  <div class="section-intro">
    O antecedente mostra quem o personagem era antes de começar a vida de aventuras. Ele ajuda a construir sua história,
    indicando ocupações passadas, estilo de vida e experiências que moldaram sua visão de mundo. Também oferece
    habilidades, ferramentas e conhecimentos úteis, reforçando tanto a parte narrativa quanto a mecânica do jogo. É uma
    forma de dar mais profundidade e personalidade ao personagem.
  </div>
  <select id="background-select" name="background-select" aria-label="Selecione seu Antecendente">
    <option value="" disabled selected>Selecione seu Antecendente</option>
    <!-- opções aqui -->
  </select>

  <div class="section-details">
    <div class="details-info">
      <div class="details-title">
        Nome do Antecedente
      </div>
      <div class="details-description">
        Descrição
      </div>

      <div class="details-title skills">
        Perícias
      </div>
      <div class="details-description skills-description">
        <!-- Descrição -->
      </div>

      <div class="details-title">
        Equipamentos
      </div>
      <div class="details-description equipment-description">
        <!-- Descrição -->
      </div>

      <div class="details-title languages">
        <!-- Idiomas -->
      </div>
      <div class="details-description languages-options">
        <!-- Descrição -->
      </div>
    </div>
  </div>